* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    overflow: hidden;
    width: 1000px;
    height: 500px;
    border: 5px solid rgba(0, 0, 0, 0.34);
    border-radius: 1ch;
    display: flex;
    margin: 5rem auto 0;
}
img{
    width: 1000px;
    height: 500px;
}
#img1{
    border-radius: 1ch;
}
#img2{
    transform: translate(-100%);
    border-radius: 1ch;

}
#img3{
    transform: translate(-200%);
    border-radius: 1ch;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 5rem;
    margin: 2px 1rem;

}
button:hover {
    transform: scale(150%);
    background-color: white;
    border: 1px solid #050505;
    border-radius: 1ch;
    cursor: pointer;
}